@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: #BAEEFF;
}

.goose {
    position: absolute;
    height: 100vh;
    display: flex;
    align-items: flex-end;
}

.quack {
    margin-left: -40px;
    z-index: -1;
}

#flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.placing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: #fff;
    font-family: Inder, sans-serif;
    font-size: 5rem;
}


#two {
    display: flex;
    justify-content: space-between;
    width: 110%;
    margin-top: 20px;
}


.text {
    color: #fff;
    font-family: Inder, sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
}


/* ---------------------------------------------------------- */


.slidecontainer {
    margin-top: 13px;
    display: flex;
}

.slider {
    appearance: none;
    width: 140px;
    height: 12px;
    border-radius: 10px;
    background: #F5F5F5;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #00A7DD;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #00A7DD;
}

.slider::-webkit-slider-thumb:hover {
    background-color: #04C2FF;
}


/* ---------------------------------------------------------- */


.btn {
    margin-top: -7px;
    width: 140px;
    color: #fff;
    font-family: Inder, sans-serif;
    background-color: #00A7DD;
    border: none;
    font-size: 1.5rem;
    border-radius: 20px;
}

.btn:hover {
    background-color: #04C2FF;
}

.btn-secondary {
    background-color: #00A7DD;
}


.btn-secondary {
    --bs-btn-active-bg: #00A7DD;
}

.dropdown-menu {
    font-family: Inder, sans-serif;
    background-color: #00A7DD;
}

.dropdown-item {
    color: #fff;
}

.dropdown-item:hover {
    background-color: #04C2FF;
    color: #fff;
}



/* ---------------------------------------------------------- */

/* Customize the label (the container) */
.container {
    margin-bottom: 20px;
    padding-right: 79px;
    font-size: 22px;
}

/* Hide the browser's default checkbox */
.container input {
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #BAEEFF;
    border: solid 7px #00A7DD;
    border-radius: 15px;
}

.checkmark:hover {
    background-color: #04C2FF;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: #00A7DD;
}

.container input:checked~.checkmark:hover {
    background-color: #04C2FF;
}

/* ---------------------------------------------------------- */


.back {
    background-color: #00A7DD;
    color: #fff;
    border: none;
    border-radius: 35px;
    color: #fff;
    margin: 20px;
    width: 180px;
    height: 60px;
}

.back:hover {
    background-color: #05BAF4;
}

a {
    text-decoration: none;
    color: #fff;
}

.arrow {
    padding-top: 5px;
    width: 60px;
}